---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Hello there 👋<br />
I am Mamunar Rashid</h1>

      <div class="wrapper1">
        
        <div>

<p><strong>I like solving meaningful problems, collaboratively.</strong></p>

<p>I work in Dhaka, where I'm Technical Lead at <a href="https://research.samsung.com/srbd" target="_blank">Samsung Research</a>.</p>

<p>While you're here, feel free to check out <a href="{{ '/blog/' | url }}">My Blog</a> and <a href="{{ '/resume/' | url }}">Resume</a>.</p>

</div>
        <div>
          
        </div>
        
        </div>